html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: black;
}

/* FLEX-CONTAINER */

.flex-container {
    display: flex;
    height: 100vh;
}

/* NAVAGATION */

/* Fix fade in sidebar nav bug */
#fadeIn {
    background-color: #000;
    display: none;
    font-size: 2vw;
    text-align: center;
    width: 20vw;
}

nav .flex-item {
    background-color: lightgray;
    width: 20vw;
}


nav ul li {
    padding: 5vh 0 5vh 0;
    font-family: 'Open Sans';
    letter-spacing: 0.5vw;
}

.flex-item ul li a {
    font-size: 2vw;
    color: #fff;
    text-decoration: none;
    text-align: center;
 }

li:hover {
    background: rgba(67, 69, 67, 0.2);
    cursor: pointer;
    filter: blur(.75px);
}

/* MAIN */
main {
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    background: url(https://www.w3schools.com/howto/img_parallax.jpg) no-repeat center;
    font-family: 'Open Sans';
    font-weight: 900;
    font-size: 4vw;    
    width: 80vw;
    justify-content: center;
 }

.flex-item h1 {
    opacity: .9;
    color:rgba(47, 47, 64, 0.765);
    letter-spacing: 1vw;
    align-self: center;
    margin-bottom: -2vh;

}

/* HIRE ME BUTTON */

 div .btn {
    background: rgba(0, 0, 0, 0.594);
    outline: none;
    width: 12vw;
    align-self: center;
    outline: none;
    font-weight: 900;
    border: 1px lightgray solid;
    color: lightgray;
    margin: 2vh 10vh;
    letter-spacing: .2vw;
    border-radius: 5px;
    font-family : inherit;
    font-size: 1.5vw;
    text-align: center;
}

.text-center {
    display: inline-block;
    text-align: center;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
    color: white;
    opacity: .7;
}

button:active {
    border: 1px solid grey;
 }

 /* PORTFOLIO IMAGE */

.port-image {
    align-self: center;
    margin-bottom: -10vh;

}

.port-image img:hover {
    cursor: pointer;
    opacity: .7;
}

main a img {
    border-radius: 5px;
    width: 35vw;
    margin-bottom: -25vh;
}

main h4 {
   font-family: 'Open Sans';
    font-size: 2vw;
    align-self: center;
}

 /* FOOTER */

.footer-flex-item {
    position: absolute;
    bottom: 1vw;
    opacity: .6;

}

@media screen and (max-width: 500px) {

    .flex-container {
        flex-flow: column wrap;

    }

    #fadeIn {
        width: 100vw;
    }

    main {
        flex-grow: 1;
        align-self: stretch;
        width: 100vw;
        background-size: cover;
        justify-content: flex-end;
    }

    .flex-item h1 {
        padding-bottom: 0;
    }

    main a img {
        margin: 0 0 4vh 0;
        text-align: center;
    }

    .footer-flex-item {
        position: absolute;
        bottom: 1vw;
    }

} 