    /* style css */

    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: sans-serif;
        background-color: black;
    }
    
        /* FLEX-CONTAINER */
    
    .flex-container {
        display: flex;
        height: 100vh;
    }
    
        /* NAVAGATION */
    
        /* Add sidebar slidout ABOUT ME SECTION */
    #fadeIn {
        background-color: #000;
        display: none;
        font-size: 2vw;
        text-align: center;
        width: 20vw;
        padding: 10vh 0 0 0;
    }
    
        /* NAVAGATION */
    nav .flex-item {
        width: 20vw;
    }
    
    nav ul li {
        padding: 5vh 0 5vh 0;
        font-family: 'Open Sans';
        letter-spacing: 0.5vw;
    }
    
    .flex-item ul li a {
        font-size: 2vw;
        color: #fff;
        text-decoration: none;
        text-align: center;
     }
    
    li:hover {
        background: rgba(67, 69, 67, 0.2);
        cursor: pointer;
        filter: blur(.75px);
    }
    
        /* MAIN */
    main {
        display: flex;
        flex-flow: column nowrap;
        background: url(https://www.w3schools.com/howto/img_parallax.jpg) no-repeat center;
        font-family: 'Roboto Slab', serif;
        font-weight: 900;
        font-size: 4vw;    
        width: 80vw; 
        opacity: 0.5;
        justify-content: flex-end;
        padding: 0 0 10vh 0;
        color: rgb(255, 255, 255);
    
     }
    
    .flex-item h1 {
        opacity: .7;
        letter-spacing: 1vw;
        align-self: center;
        margin-bottom: -1vh;
    }
    
        /* HIRE ME BUTTON */
    
    div .btn {
        background: rgba(0, 0, 0, 0.4);
        width: 15vw;
        font-weight: 900;
        border: none;
        color: lightgray;
        margin: 1vh 0 2vh 0;
        letter-spacing: .2vw;
        border-radius: 8px;
        font-family : inherit;
        font-size: 1.5vw;
        outline: none;
    }
    
    .text-center {
        text-align: center;
    }
    
    button:hover {
        cursor: pointer;
        box-shadow: 0 0 10px white;
        color: white;
        opacity: .7;
    }
    
    button:active {
        border: 1px solid grey;
     }
    
        /* PORTFOLIO IMAGE */
    
    .port-image {
        align-self: center;
    }
    
    .port-image img:hover {
        cursor: pointer;
        opacity: .7;
    }
    
    main a img {
        border-radius: 5px;
        width: 35vw;
    }
    
    main h4 {
        font-family: 'Open Sans';
        font-size: 2vw;
        align-self: center;
    }
    
        /* FOOTER */
    
    .footer-flex-item {
        position: absolute;
        bottom: 1vw;
        opacity: .1;
    
    }
    
        /* Media Queries */
    
        /* TABLET VIEW */
    @media screen and (max-width: 770px) {
    
        /* FLEX CONTAINER */
        .flex-container {
            flex-flow: column nowrap;
            justify-content: flex-end;
        }
    
        #fadeIn {
            width: 100vw;
            padding: 0;
        }
    
        /* Main */
        main {
            width: 100vw;
            background-size: cover;
            height: 50vh;
            text-align: center;
            position: relative;
            padding: 0 0 4vh 0;
        }
    
        main h1 {
            padding: 0 0 1vh  0;
        }
    
        main a img {
            text-align: center;
            position: relative;
            padding: 0;
        }
    
        /* FOOTER */
        .footer-flex-item {
            position: absolute;
            bottom: 1vw;
        }
    
    }
    
        /* MOBILE VIEW */
    
    @media screen and (max-width: 500px) {
    
        /* FLEX CONTAINER */
        .flex-container {
            flex-flow: column nowrap;
            justify-content: flex-end;
        }
    
        /* SIDEBAR NAVAGATION */
        #fadeIn {
            width: 100vw;
            padding: 0;
        }
    
        /* Main */
        main {
            width: 100vw;
            background-size: cover;
            height: 50vh;
            text-align: center;
            position: relative;
            padding: 0 0 5vh 0;
        }
    
        main h1 {
            padding: 0 0 1vh  0;
        }
    
        main a img {
            text-align: center;
            position: relative;
            padding: 0 0 4vh 0;
        }
    
        /* FOOTER */
        .footer-flex-item {
            position: absolute;
            bottom: 1vw;
        }
    
    } 