html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: black;
}

.flex-container {
    display: flex;
    height: 100vh;
}

/* fix fade in sidebar nav bug */
#fadeIn {
    background-color: #000;
    display: none;
    font-size: 2vw;
    text-align: center;
    width: 20vw;

}

nav .flex-item {
    background-color: lightgray;
}

nav ul li {
    padding: 5vh 0 5vh 0;
    font-family: 'Open Sans';
    letter-spacing: 0.5vw;
}


nav .flex-item ul li:hover {
    cursor: pointer;
    color: black;
}

.flex-item ul li a {
    font-size: 2vw;
    color: #fff;
    text-decoration: none;
    text-align: center;
 }

li a:hover {
    opacity: .3;
}


main {
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    background: url(https://www.w3schools.com/howto/img_parallax.jpg) no-repeat center;
/* use align self on children elements */
    font-family: 'Open Sans';
    font-weight: 900;
    font-size: 4vw;    
    width: 80vw;
    justify-content: flex-end;
    z-index: 1;
    /*     backdrop-filter: blur(100px);
 */}

h1 {
    opacity: .9;
    background-color: clear;
    color:black;
    letter-spacing: 1vw;
    align-self: center;
}

 button {
    display: flex;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: 1px white solid;
    color: black;
    outline: none;
    font-weight: 900;
    letter-spacing: .2vw;


 }

button .btn {
    background: transparent;
    color: #fff;
    border: 1px white solid;
    opacity: 1;
}



button:hover {
    outline: lightgray;
    cursor: pointer;
    box-shadow: 0 0 20px white;
    color: white;
}

button:active {
   background-color: gray;
}

.flex-item .port-image {
    border-radius: 5px;
}

.port-image img:hover {
    cursor: pointer;

}

img {
    width: 45vw;
    position: relative;
    z-index: 1;
}

a {
    border-radius: 10px;
    width: 45vw;
    align-self: center;
}

main h4 {
    font-family: 'Open Sans';

    font-size: 2vw;
    align-self: center;
}

@media screen and (max-width: 550px) {

    .flex-container {
        flex-flow: column wrap;

    }

  #fadeIn {
      width: 100vw;
  }

    main {
        flex-grow: 1;
        align-self: stretch;
        width: 100vw;
        background-size: cover;
        justify-content: flex-end;
    }

    .btn {
        margin: 2vw 0;
    }

    a img {
        margin: 1vw 0;
        text-align: center;
    }

    .footer-flex-item {
        text-align: center;
        padding: 1vw 0;
    }

} 