html {
  height: 100%;
  min-width: 100%;
  max-width: 1520px;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

h1,h2,li {
  font-family: 'Lato', sans-serif;
}

#welcome-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(25, 26, 29);
}

#welcome-container h1,h2 {
  font-weight: 900;
  letter-spacing: 3;

}

/* WELCOME-HEART SHAPE 100% CSS */
#welcome-heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
  text-align: center;
  opacity: .5;
}

#welcome-heart::before, #welcome-heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: rgb(99, 146, 234);
}

#welcome-heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#welcome-heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.custom-container {
  width: 100vw;
}

 /* ALL CSS X to close nav links */
 #close-nav {
  background: rgba(0, 0, 0, 0.218);
  width: 5%;
  height: 8%;
  position: absolute;
  padding: 5px;
  top: 2%;
  right: 1.5%;
  border-radius: 5px;
  z-index: 1;
}

#close-nav:after {
  text-align: center;
  content: '';
  height: 80%;
  border-left: 5px double rgba(255, 255, 255, 0.17);
  position: absolute;
  transform: rotate(45deg);
  left: 48%;
}

#close-nav:before {
  margin: 0 auto;
  content: '';
  height: 80%;
  border-left: 5px double rgba(226, 136, 67, 0.293);
  position: absolute;
  transform: rotate(-45deg);
  left: 48%;
}

#close-nav:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.17);
}

li {
  display: flex;
  list-style: none;
  letter-spacing: 0.5em;
  width: 20vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 900;
}

#side-nav li:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.17);
}

a,a:hover {
  text-decoration: none;
  color: inherit;
}

  /* ABOUT */

#about-container {
  display: flex;
  position: absolute;
  top: 20vh;
  text-align: center;
  justify-content: center;
  margin: 0 0 0 8vw;
}

#about-container img {
  position: relative;
  width: 40%;
  height: 25%;
  margin: 0 0 0 0;
  top: 9vh;
  border-radius: 5px;
}

#about-container div {
  width: 60%;
  padding: 0 0 5% 2%;
}

#about-container h2 {
  color:rgb(0, 0, 0);
  position: relative;
  letter-spacing: 1vw;
}

#about-container p {
  position: relative;
  text-align: left;
  font-size: 90%;
  font-weight: 600;
  letter-spacing: 1;
}

  /* RESUME */
#resume-icon {
  display: flex;
  position: absolute;
  top: 28vh;
  width: 100vw;
}

#resume-icon a img {
  margin-left: 37.5vw;
  width: 15vw;
}
  /* PORTFOLIO */
#portfolio-cards-container {
  height: 90vh;
  width: 100vw;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 20px;
 }

#portfolio-cards-container img:hover {
  border: 2px outset rgb(84, 86, 90);
}

a {
  margin: 2%;
}

#icons {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2vh;
  left: 1.5vw;
}

#icons span {
  width: 20vw;
}

#icons img:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

